.box-heading1{
font-weight: bold;
font-size: 24px;
line-height: 28.8px;
font-family: sans-serif;
text-align: justify;
padding-bottom: 10px;
}

.small-box2{
width: 352px;
height: 300px;
padding: 20px;
border-radius: 20px;
background: #FFFFFF;
justify-content: space-between;
align-items: center;
}
.below-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: auto;
    margin-top: 3rem;
}

.arrows{
    margin-top: 5px;
}