.btn2{
    background: #20888F;
    width: 163px;
    border-radius: 24px;
    Padding:15px;
    top: 361px;
    left: 120px;
    color: white;
    cursor: pointer;
}

.navbar-flex{
justify-content: center;
display: flex;
justify-content: center;
gap: 15px;
}

.list-spread{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    list-style-type: none;
    
}

.list-spread a{
    list-style-type: none;
    color: black;
    
}

.navv{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    gap: 8rem;
    padding-top: 1rem;

}